.align {
    display: flex;
    justify-content: center;    
    align-items: center; 
    height: 32px;    
}
.ml-2{
    margin-left: 2rem;
}

.deleteFrame {
    min-height: 32px;
    min-width: 32px;
    border: 2px solid #f08080;
    border-radius:  5px;
}

.hover {
    cursor: pointer;
}